@import url("https://webglfundamentals.org/webgl/resources/webgl-tutorials.css");
body {
  margin: 0;
}

canvas {
  width: 50vw;
  height: 50vh;
  display: block;
}

.inline {
  float:left;
  margin: 5px 50px 5px 10px;
}